<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6s7kY8nGXkT_OJnv5i2m52z-wPLZLqoE</string>
	<key>GCM_SENDER_ID</key>
	<string>127943714715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blueCrewChat</string>
	<key>PROJECT_ID</key>
	<string>blue-crew-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-crew-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127943714715:ios:68fefd1cb61cb1d83fa33e</string>
</dict>
</plist>